{% extends 'base.html' %}

{% block title %}Start Page{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% include 'page/navbar.html' %}

    <div class="mt-4">
            <div class="space-y-4">
            {% for object in object_list %}

                {% if object.hidden %}

                    <div class="bg-white shadow-lg rounded-lg border-slate-600">
                    <div class="px-5 py-2">
                        <div class="flex flex-wrap items-center justify-between">
                        <div class="text-2xl font-bold text-emerald-600">{{ object.name }} </div>
                            <div>
                                <button class="text-black font-small rounded-lg text-sm text-center inline-flex items-center" type="button" data-dropdown-toggle="boarddropdown{{ object.pk }}"><i class="fas fa-cog"></i></button>
                                <!-- Dropdown menu -->
                                <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow my-4" id="boarddropdown{{ object.pk }}">
                                    <ul class="p-4 text-sm space-y-4" aria-labelledby="boarddropdown{{ object.pk }}">
                                        <li>
                                            <a href="{% url 'unhide-board' object.pk %}"><i class="fas fa-eye mr-2"></i>Unhide Board</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="italic font-light">{{ object.description }}</div>
                    </div>
                </div>


                {% else %}

                <div class="bg-white shadow-lg rounded-lg border-slate-600">
                    <div class="px-5 py-2">
                        <div class="flex flex-wrap items-center justify-between">
                        <div class="text-2xl font-bold text-emerald-600">{{ object.name }} </div>
                            <div>
                                <button class="text-black font-small rounded-lg text-sm text-center inline-flex items-center" type="button" data-dropdown-toggle="boarddropdown{{ object.pk }}"><i class="fas fa-cog"></i></button>
                                <!-- Dropdown menu -->
                                <div class="hidden bg-white text-base z-50 list-none divide-y divide-gray-100 rounded shadow my-4" id="boarddropdown{{ object.pk }}">
                                    <ul class="p-4 text-sm space-y-4" aria-labelledby="boarddropdown{{ object.pk }}">
                                        {% if not forloop.first %}
                                        <li>
                                            <a href="{% url 'reorder-boards-by-one' object.pk 'up' %}"><i class="fas fa-arrow-circle-up mr-2"></i>Move Board Up</a>
                                        </li>
                                        {% endif %}
                                        {% if not forloop.last %}
                                        <li>
                                            <a href="{% url 'reorder-boards-by-one' object.pk 'down' %}"><i class="fas fa-arrow-circle-down mr-2"></i>Move Board Down</a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a href="{% url 'hide-board' object.pk %}"><i class="fas fa-eye-slash mr-2"></i>Hide Board</a>
                                        </li>
                                        <li>
                                          <a href="{% url 'update-board' object.pk %}"><i class="fas fa-pen mr-2"></i>Rename Board</a>
                                        </li>
                                        <li>
                                          <a href="{% url 'delete-board' object.pk %}"><i class="fas fa-trash-alt mr-2"></i>Delete Board</a>
                                        </li>
                                        <li>
                                          <a href="{% url 'add-bookmark-group' object.pk %}"><i class="fas fa-plus-circle mr-2"></i>Add New Group</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="italic font-light">{{ object.description }}</div>



                        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 pt-4 gap-6 ">
                        {% for group in object.bookmark_groups.all %}
                            <div class="space-y-2">
                                <div class="p-1 bg-emerald-600 rounded-lg text-center text-white text-xl"><a href="{% url 'update-bookmark-group' group.id %}"> <i class="fas fa-pen text-xs"></i> </a>{{ group.name }} <a href="{% url 'delete-bookmark-group' group.id %}"> <i class="fas fa-trash-alt text-xs"></i> </a></div>
                                    {% for bookmark in group.bookmarks.all %}
                                        <div class="flex space-x-2 justify-center">
                                            <a href="{% url 'update-bookmark' bookmark.id %}"><i class="fas fa-pen text-xs"></i></a>
                                            <a href="{{ bookmark.url }}" target="_blank">
                                                <button type="button" class="inline-block px-4 py-2 bg-gray-400 text-white font-medium text-sm leading-tight rounded-lg hover:bg-emerald-300">{{ bookmark.name }}</button>
                                            </a>
                                            <a href="{% url 'delete-bookmark' bookmark.id %}"><i class="fas fa-trash-alt text-xs"></i></a>
                                        </div>
                                    {% endfor %}
                                <div class="flex space-x-2 justify-center"><a href="{% url 'add-bookmark' group.id %}"><i class="fas fa-plus-circle"></i></a></div>
                            </div>
                        {% endfor %}
                        <div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}

        {% empty %}
            <div class="text-2xl text-center text-gray-600">Oh, look, it's all empty. Perhaps create a board?</div>
        {% endfor %}

        <div class="border-dashed border rounded-lg border-gray-600">
            <div class="p-1 rounded-lg text-center text-gray-600 text-xl"><a href="{% url 'add-board' %}"><i class="fas fa-plus-circle"></i></a></div>
        </div>

    </div>


{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}
