{% extends 'base.html' %}

{% block title %}
    Board
{% endblock %}

{% block content %}

    <div class="mt-12 bg-white shadow-lg rounded-lg border-slate-600">
        <div class="px-5 py-2">
            <div class="text-4xl text-center text-slate-700 pt-6">
            {% if object.name %}
                Change Bookmark {{ object.name }}
            {% else %}
                Create New Bookmark
            {% endif %}
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="text-center pt-6">
                    <div class="space-y-2 flex flex-col items-center justify-center">
                        <div><input type="name" class="border-solid border-b-2 border-{{ bookmark_color }}-600 rounded-lg text-center block mb-2 text-md font-medium text-slate-900" name="name" value="{{object.name}}" placeholder="Bookmark Name" required></div>
                        <div><input type="url" class="border-solid border-b-2 border-{{ bookmark_color }}-600 rounded-lg text-center block mb-2 text-md font-medium text-slate-900 dark:text-slate-300" name="url" value="{{object.url}}" placeholder="Bookmark URL" required></div>
                        <div><button type="submit" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Save</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
