{% extends 'base.html' %}

{% block title %}
    Start Page
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% include 'page/navbar.html' %}
    <div class="mt-4">
        <div class="bg-white shadow-lg rounded-lg border-{{ object.board.color }}-600">
            <div class="px-5 py-2">
                <div class="flex justify-center">
                    <div class="w-1/2 mb-4 relative p-1 border-b-2 border-{{ object.board.color }}-600 bg-{{ object.board.color }}-600/25 rounded-lg text-center text-{{ object.board.color }}-800 text-md">{{ object.name }}</div>
                </div>

                {% for bookmark in object.bookmarks.all %}
                    <div class="flex space-x-2 justify-center pb-2">
                        <div><a href="{% url 'update-bookmark' bookmark.id %}"><i class="fas fa-pen text-xs text-{{ object.board.color }}-600"></i></a></div>
                        {% if not forloop.first %}
                        <div><a href="{% url 'reorder-bookmark-by-one' bookmark.pk 'up' %}"><i class="fas fa-arrow-circle-up text-{{ object.board.color }}-600"></i></a></div>
                        {% else %}
                        <div><i class="fas fa-arrow-circle-up text-gray-200"></i></div>
                        {% endif %}
                        <div><a href="{{ bookmark.url }}" target="_blank">
                            <button type="button" class="inline-block p-1 border-b-2 border-{{ object.board.bookmarks_color }}-400 text-sm rounded-lg bg-{{ object.board.bookmarks_color }}-200 hover:bg-{{ object.board.bookmarks_color }}-600 hover:text-white">{{ bookmark.name }}</button>
                        </a></div>
                        {% if not forloop.last %}
                        <div><a href="{% url 'reorder-bookmark-by-one' bookmark.pk 'down' %}"><i class="fas fa-arrow-circle-down text-{{ object.board.color }}-600"></i></a></div>
                        {% else %}
                        <div><i class="fas fa-arrow-circle-down text-gray-200"></i></div>
                        {% endif %}
                        <div><a href="{% url 'delete-bookmark' bookmark.id %}"><i class="fas fa-trash-alt text-{{ object.board.color }}-600 text-xs"></i></a></div>
                    </div>
                {% endfor %}

                <div class="text-center">
                    <a href="{% url 'add-bookmark' object.id %}"><i class="fas fa-plus-circle mr-2"></i></a>
                </div>
            </div>
        </div>
        <div class="pt-5 text-center">
            <a href="{% url 'home' %}"><button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Back</button></a>
        </div>
    </div>

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}
